{% extends 'base.html' %}

{% block content %}

<p>
This site is created to help people be fit. The main idea is that we can all get fitter and in form only by consuming the needed calories for our body and no more.

</p>
<p>
For your comfort the site have the functunallity calculate the calories you need for a day so that you stay in form and your body gets what it needs.
</p>
<p>
Nevertheless we have a big database of food so you can choose what you eat today and how much of it and we will calculate the calories for you and subtract them from the calories of the day.
</p>

{% endblock %}